<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">

	<insert id="create">
		insert into board (title, content, user_id, viewcnt, img)
		values(#{title}, #{content}, #{user_id}, #{viewcnt}, #{img})
	</insert>
 
	<select id="listAll" parameterType="hashMap" resultType="com.study.tw.vo.BoardVO">
	 <![CDATA[
	 select 
	   bno, title, content, user_id, regdate, viewcnt 
	 from 
	   board 
	 where 
	 bno > 0
	 order by bno desc
	 limit #{displayPost}, #{postNum}
	 ]]>
 	</select>
 	
 
 	<select id="listAllSearch" parameterType="hashMap" resultType="com.study.tw.vo.BoardVO">
	 select 
	   bno, title, content, user_id, regdate, viewcnt 
	 from 
	   board 
	 where 
	 <![CDATA[
	 bno > 0 and
	 ]]>
	 <include refid="search" />
	 order by bno desc
	 limit #{displayPost}, #{postNum}
 	</select>

 	<sql id="search">
 	
 		<choose>
		 <when test="search_t != null and search_t != ''">
		 	title like "%${search_t}%" or user_id like "%${search_t}%" 
		 </when>
		 <when test="title != null and title != ''">
		 	title like "%${title}%"
		 </when>
		 <when test="user_id != null and user_id != ''">
		 	user_id like "%${user_id}%"
		 </when>
	 	</choose>
	 </sql>
	 
 	
 	 <select id="read" resultType="com.study.tw.vo.BoardVO">
	 select 
	   bno, title, content, user_id, regdate, viewcnt, img
	 from 
	   board 
	 where bno = #{bno}
	 </select>

	<update id="update">
 	update board set 
 	title = #{title}, content = #{content}
 	<if test="img !=null">
 	, img = #{img}
 	</if>
 	where bno = #{bno}
 	</update>
 	
 	<delete id="delete">
 		delete from board where bno = #{bno}
 	</delete>
 	
 	<update id="updateViewCnt">
		update board set viewcnt = viewcnt + 1
		where bno = #{bno}
	</update>

	<select id="count" resultType="int">
		select count(bno) from board
	</select>
	
	<!-- commentTable -->
	<insert id="commentCreate">
		insert into comment(readBno, writer, user_id, comment)
		values(#{readBno}, #{writer}, #{user_id}, #{comment})
	</insert>
	
	<select id="commentList" resultType="com.study.tw.vo.CommentVO">
		select
			readBno, commentBno, user_id, comment, regdate
		from comment
		where readBno = #{readBno}
		order by regdate desc  	
	</select>
	
	<delete id="commentDelete">
		delete from comment where commentBno = #{commentBno}
	</delete>
	
</mapper>